.header {
  display: flex;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0;
  margin-bottom: -100px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
  gap: 8px;
}

.header ul {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 12px;
  row-gap: 6px;
  align-items: end;
  flex-shrink: 0;
}

.header ul li {
  margin-left: 0;
  letter-spacing: 0.5px;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.navbar-connect {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}

.navbar-logo {
  width: 36px;
  height: 36px;
  display: block;
  flex-shrink: 0;
}

@media only screen and (min-width: 375px) {
  .header ul {
    font-size: 11px;
    column-gap: 16px;
  }

  .navbar-logo {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 500px) {
  .header {
    padding: 20px 0;
    align-items: center;
  }

  .header ul {
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    column-gap: 24px;
    row-gap: 8px;
  }

  .header ul li {
    color: #eae5ec;
    letter-spacing: 1px;
  }

  .navbar-logo {
    width: 44px;
    height: 44px;
  }
}

@media only screen and (min-width: 768px) {
  .header ul {
    font-size: 13px;
    column-gap: 32px;
  }
}

@media only screen and (min-width: 900px) {
  .navbar-connect {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header ul {
    font-size: 14px;
    column-gap: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    padding: 35px 0;
  }

  .header ul {
    column-gap: 64px;
    font-size: 16px;
  }

  .navbar-connect {
    font-size: 16px;
  }

  .navbar-logo {
    width: 48px;
    height: 48px;
  }
}

@media only screen and (min-width: 1600px) {
  .header ul {
    column-gap: 80px;
  }
}
